@import 'tailwindcss';

/* ! Reset */
body,
html {
    font-family: 'Intro', Arial, Helvetica, sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0 0 1rem 0;
    padding: 0;
}
ol,
ul {
    list-style-type: none;
}
img {
    height: auto;
}
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3rem;
}
h3 {
    font-size: 2rem;
}
h4 {
    font-size: 1rem;
}
h5 {
    font-size: 0.8rem;
}
h6 {
    font-size: 0.6rem;
}
a {
    text-decoration: none;
}

@theme {
    --color-primary: #80b6d5;
    --color-secondary: #182934;
    --color-primary-txt: #182934;
    --color-secondary-txt: #6b8ba0;
    --color-primary-bg: #cee1f3;
    --color-secondary-bg: #f2f8fc;
    --color-link: #80b6d5;
    --color-link-hover: #5c91b4;
    --color-primary-btn: #80b6d5;
    --color-primary-btn-txt: #ffffff;
    --color-primary-btn-hover: #80b6d5;
    --color-secondary-btn: #ffffff;
    --color-secondary-btn-txt: #80b6d5;
    --color-border: #a0b3c1;
    --color-input-border: #a0b3c1;
    --color-input-border-focus: #80b6d5;
    --color-info: #2196f3;
    --color-error: #f44336;
    --color-warning: #ffc107;
    --color-success: #4caf50;
    --breakpoint-xs: 1.17rem; /* 14pt */
    --breakpoint-sm: 1.33rem; /* 16pt */
    --breakpoint-base: 1.67rem; /* 20pt */
    --breakpoint-lg: 1.92rem; /* 23pt */
    --breakpoint-xl: 2.08rem; /* 25pt */
    --breakpoint-2xl: 2.75rem; /* 33pt */
    --breakpoint-3xl: 3.08rem; /* 37pt */
    --breakpoint-4xl: 3.33rem; /* 40pt */
    --transition: all 3s ease;
}

#root {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: Inter, Arial, Helvetica, sans-serif;
    color: var(--primary-txt);
    padding-top: 5vh;
    gap: 20px;
}
